@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Oswald');


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #F0F7F4; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #222222;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #000;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.tab-nav {
    grid-area: 7 / 1 / 9 / 7;
    display: flex;
	/*align-items: center;*/
	/*justify-content: center;*/
	padding: 2em 0 0;
}

.tab-nav h1 {
    font-size: 10vh ;
    font-family: 'Oswald', sans-serif;
    color : white;
    /*cursor: pointer;*/
}

.nav-tabs {
    border : none;
}

.bar {
    width: 100%;
    height: 100px;
    background-color: transparent;
    padding-left: 3%;
    padding-right: 3%;
    color : black;
}

.bar h2 {
    font-size: 2.5vh;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.bar a{
    color: black;
}

.bar a:hover{
    text-decoration:none;
    pointer : cursor ;
}

#go-left , #go-right {
    cursor: pointer;
}

.left {
    float: left;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;

}

.right {
    float: right;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;


}

.tab-pane {
    width : 100%;
    animation: ease-out;
}

.tab-content {
    padding: 0;
}

.body {
    background-color: black;
}

.btn {
    background-color: white ;
    border-radius: 0;
}

.modal-content {
    background-color: transparent;
	position:relative;
    padding : 5% ;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: none;
    border : none ;
    color : black;
} 

.closebt {
    text-align: center ;
    margin : auto ;
    margin-top: 2%;
}

.modal-content p , a {
    font-size: 3vh;
}

.modal-content a {
    color : black;
    font-family: 'Oswald', sans-serif;
}

.modal-content div {
    font-size: 2vh;
}

.modal-content h3 {
    font-size: 4vh;
}

.modal-content h2 {
    font-size: 7vh;
    font-family: 'Oswald', sans-serif;
}

.panel-collapse {
    padding: 2%;
}


.text-intro {
    font-style: italic ;
}


@media (max-width: 640px) {

    .gallery-nav__item {
        width: 20px;
        height: 10px;
        margin: 5px;
    }

    .gallery-nav__item::before,
    .gallery-nav__item::after {
        height: 4px;
        margin: -2px;
    }


    .right {
        display: none;
    }

    .left {
        width: 100%;
        height: auto;
        text-align: center;
        float: none;
        vertical-align: center;
        padding-top: 10px;
    }

}